.colors {
	height: 100%;
	min-height: 40.625rem;
	background: url('./img/bg/bg_vertical.png') right center / cover no-repeat;
	position: relative;
	color: #fff;
	display: flex;
	flex-direction: column;
	&__title {
		margin-left: 5.25rem;
		margin-top: 7.1875rem;
		@include tablet {
			margin-left: 2.667rem;
			margin-top: 6rem;
		}
	}
	&__list {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
	}
	&__item {
		display: flex;
	}
	&__link {
		position: relative;
		width: 6.375rem;
		font-family: "Alegreya Sans", sans-serif;
		font-size: 2.25rem;
		font-weight: 700;
		&--grey{
			background-color: #999;
		}
		&--black {
			background-color: #151515;
		}
		&--red {
			background-color: #E01F3C;
		}
	}
	&__text {
		transform: rotate(270deg);
		white-space: nowrap;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 3rem;
	}
	&__content {
		background: rgba(51, 53, 55, 0.9);
		width: 0;
		position: relative;
		overflow: hidden;
		transition: width .5s;
	}
	&__container {
		padding: 32px 53px 32px 38px;
	}
	&__close {
		width: 1rem;
		height: 1rem;
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		border: none;
		background: transparent;
	}
	&__icon {
		width: 100%;
		height: 100%;
		fill: white;
	}
}
