.fixed-menu {
	position: fixed;
	top: 35%;
	right: 3%;
	z-index: 10;
	&__item {
		margin-bottom: 0.3125rem;
		&--current {
			.fixed-menu__link {
				border-color: $red;
				&::before {
				background-color: $red;
				}
			}
		}
		&:hover {
			.fixed-menu__link {
				border-color: $red;
				&::before {
				background-color: $red;
				}
			}
		}
	}
	&__link {
		display: block;
		width: 1.125rem;
		height: 1.125rem;
		border-radius: 50%;
		border: 0.0625rem solid transparent;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 0.375rem;
			height: 0.375rem;
			border-radius: 50%;
			background-color: $grey;
			opacity: 0.6;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@include tablet {
		display: none;
	}
	&--shadowed {
		.fixed-menu__item--current {
			.fixed-menu__link {
				border-color: $grey;
			}
			.fixed-menu__link::before {
				background-color: $grey;
			}
		}
		.fixed-menu__item:hover {
			.fixed-menu__link {
				border-color: $grey;
			}
			.fixed-menu__link::before {
				background-color: $grey;
			}
		}
		.fixed-menu__link::before {
			background-color: white;
		}
	}
}